<p-card header="Invoices">
  <p-table
    #dt
    [value]="invoices"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['invoiceNumber', 'fromName', 'toName']"
    responsiveLayout="stack"
    [rowHover]="true"
    styleClass="p-datatable-gridlines"
  >
    <ng-template #caption>
      <div
        class="flex"
        style="display: flex; justify-content: space-between; flex-wrap: wrap"
      >
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <button
          pButton
          label="New Invoice"
          icon="pi pi-plus"
          routerLink="/create-invoices"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="invoiceNumber">
          Invoice # <p-sortIcon field="invoiceNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="invoiceDate">
          Date <p-sortIcon field="invoiceDate"></p-sortIcon>
        </th>
        <th pSortableColumn="fromName">
          From <p-sortIcon field="fromName"></p-sortIcon>
        </th>
        <th pSortableColumn="toName">
          To <p-sortIcon field="toName"></p-sortIcon>
        </th>
        <th pSortableColumn="totalAmount">
          Total <p-sortIcon field="totalAmount"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-invoice>
      <tr>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.invoiceDate | date }}</td>
        <td>{{ invoice.fromName }}</td>
        <td>{{ invoice.toName }}</td>
        <td>{{ invoice.totalAmount | currency }}</td>
        <td>
          <button
            pButton
            icon="pi pi-eye"
            class="p-button-rounded p-button-outlined mr-2"
            (click)="viewInvoice(invoice.items)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-dialog
  header="View Invoice"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <p-table
    [value]="Items()"
    responsiveLayout="stack"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="itemName">
          Item Name <p-sortIcon field="itemName"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity">
          Quantity <p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th pSortableColumn="rate">
          Rate <p-sortIcon field="rate"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-invoice>
      <tr>
        <td>{{ invoice.itemName }}</td>
        <td>{{ invoice.quantity }}</td>
        <td>{{ invoice.rate }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
